.warn button.mod-warning {
  background-color: var(--background-modifier-error);
  color: var(--text-on-accent);
}

body:not(.alx-no-hide-note) .nav-file.alx-folder-note > .nav-file-title {
  display: none;
}

.nav-folder.alx-folder-with-note
  > .nav-folder-title
  > .nav-folder-title-content::after {
  content: ">";
  color: var(--text-accent);
  margin-left: 5px;
}

.nav-folder.alx-empty-folder
  > .nav-folder-title
  > .nav-folder-collapse-indicator {
  visibility: hidden;
}

input.incorrect {
  color: #eb3223;
}
